<%- include ("../../partials/header") %>

<body class='bg-dark'>
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">IIT Madras Sports History</h1>
    <div class="card align-center" data-aos='fade-up'>
      <img class="card-img-top" src="/iitmsports/images/history/22.png" alt="IITM" height="250px">
      <div class="card-body">
        <h5 class="name">Overall GC</h5>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        The proposition for an Inter IIT Sports Meet was brought up in 1961, and IIT Bombay hosted the first ever Inter IIT Sports Meet.
        Only five IITs were in existence then, namely IIT Bombay, IIT Madras, IIT Kharagpur, IIT Kanpur and IIT Delhi; who competed in
        five sports only. Since then there has been 54 Inter IIT organized and IIT Madras have won 22 out of 54!!!<br/><br/>IIT Madras has
        the record of winning most General Championship (GC), the next best is IIT Kharagpur with 13 GCs. This shows the domination of
        IIT Madras when it comes to Inter IIT Sports Meet.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="card align-center" data-aos='fade-up'>
        <img class="card-img-top" src="/iitmsports/images/history/9.png" alt="IITM" height=250px>
        <div class="card-body">
          <h5 class="name">Consecutive Overall GC</h5>
          <p style= "text-align: center;color: orange">(1972-1980)</p>
        </div>
      </div>
      <div class="card align-center" data-aos='fade-up'>
        <img class="card-img-top" src="/iitmsports/images/history/6.png" alt="IITM" height=250px>
        <div class="card-body">
          <h5 class="name">Consecutive Overall GC</h5>
          <p style= "text-align: center;color: orange">(1999-2004)</p>
        </div>
      </div>
    </div>
  </div>
    <div class="iitm-body-mid">
      <p>
        IIT Madras won its first GC in 1972. We had to wait a long to win our first Inter IIT GC, but once we won it others
        had to wait for 9 long years to take back from us and we came back stronger next time, wining our 10th title in 1982.
        IIT Madras was champion for 9 consective years (1972-80) which is another record. No other IIT were able to defend
        their GC for more than 5 years and IIT Madras did it twice. We were again champions for 6 consecutive years (1999-04).
      </p>
    </div>
  <div class="Feedback-SOC-Content">
    <div class="card align-center" data-aos='fade-up'>
      <img class="card-img-top" src="/iitmsports/images/history/4.png" alt="IITM" height="250px">
      <div class="card-body">
        <h5 class="name">Consecutive Women's GC</h5>
        <p style= "text-align: center;color: orange">(2016-2019)</p>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        IIT Madras women contingent had showed a complete domination in all Inter IIT. Women's Gc was introduced in Inter IIT
        in 2016 since then IIT Madras women had put their sweat & blood to win Women's GC each year. No other IIT's women contingent
        were able to win atleast one Women's GC.<br/><br/><br/>
        All this records shows the domination of IIT Madras in Inter IIT Sports Meet. This achivements and records are the results of
        facilities and the efforts that students put each day, improving their game and technique each day. IIT Madras was always
        lucky to get such determined students. The strength of IIT Madras Contingent is the bond and respect for every sport. From
        day 1 of Inter IIT to the last day, whole contingent of IIT Madras have just one thing in their mind and that is <b>GO MADRAS</b>
      </p>
    </div>
  </div>

  <%- include ("../../partials/footer") %>
  <%- include ("../../partials/scrollTop") %>
</body>
