

<div class="footer" style="background-color:#000">
  <p class="footer-head">STAY TUNED!</p>
  <a href="https://www.facebook.com/SportsIITM/"><i class="icon fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/iitmsports/"><i class="icon fab fa-instagram"></i></a>
  <a href="https://www.youtube.com/channel/UCnYOzjdorzacX3Ji2BfEYZg"><i class="icon fab fa-youtube"></i></a>
  <a href="https://www.linkedin.com/company/sociitm"><i class="icon fab fa-linkedin-in"></i></a><br>
  <a class="contact" href="/SOC">Contact us</a>
  <a class="contact" href="/feedback">Feedback</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/script/index.js" charset="utf-8"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
     <script>
       AOS.init();
     </script>
</div>