<nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color:#000">
    <a class="navbar-brand" href="#">
      <img src="iitmsports/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="/" style="color:orange">HOME</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/events" style="color:orange">EVENTS</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:orange">
            SPORTS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/iitmsports/interiit">Inter IIT Sports</a>
            <a class="dropdown-item" href="/iitmsports/non-interiit">Non Inter IIT Sports</a>
            <a class="dropdown-item" href="/iitmsports/facilities">Facilities/Grounds</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/iitmsports/history-iitm" style="color:orange">
            HISTORY
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:orange">
            RECORDS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/records-interiit">Inter IIT</a>
            <a class="dropdown-item" href="/records-schroeter">Schroeter</a>
            <a class="dropdown-item" href="/records-deanstrophy">Dean's Trophy</a>
          </div>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:orange">
            PEOPLE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="color:orange">
            <a class="dropdown-item" href="/iitmsports/SOC">SOC</a>
            <a class="dropdown-item" href="/iitmsports/gymkhana">Gymkhana</a>
            <a class="dropdown-item" href="/iitmsports/halloffame">Hall of fame</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/iitmsports/results" style="color:orange">RESULTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/iitmsports/feedback" style="color:orange">FEEDBACK</a>
        </li>
      </ul>
    </div>
  </nav>
