<%- include ("../../partials/header") %>

<body class="bg-dark text-light">
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Institute Sports Secretary</h1>
    <div class="card align-center">
      <img class="card-img-top" src="images/SOC-teams/Breasha.PNG" alt="breasha" height="250px">
      <div class="card-body">
        <h5 class="card-title name">Breasha Gupta</h5>
        <a href='mailto:sec_sprts@smail.iitm.ac.in'><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
        <a href="tel:9137932713"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center pos-title">SOC heads</h1>
    <div class="row">
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Akash.jpg" alt="Akash" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">SOC Head</h6>
          <h6 class="card-title name1">R. Akash Achudhan</h6>
          <a href='mailto:soc@smail.iitm.ac.in'><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 9176650891"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Vanshikha.jpg" alt="Vanshika" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">SOC Head</h6>
          <h6 class="card-title name1">Vanshikha Kumar</h6>
          <a href='mailto:soc@smail.iitm.ac.in'><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href='tel:9840882824'><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center pos-title">Representatives</h1>
    <div class="row">
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Amrutha.jpg" alt="Amrutha" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Women's Representative</h6>
          <h6 class="card-title name1">S. Lakshmi Amrutha</h6>
          <a href="mailto:amruthasreenivas98@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 9360672840"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Malavika.jpg" alt="malvika" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Women's Representative</h6>
          <h6 class="card-title name1">Malavika Ranjan</h6>
          <a href="mailto:malavikaranjan1999@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 9439686225"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/vasanth.jpg" alt="Vasanth" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">PG Representative</h6>
          <h6 class="card-title name1">S. Vasanthraj</h6>
          <a href="mailto:vasanthrj46@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 7708103340"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center pos-title">SOC Cores</h1>
    <div class="row">
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Rohith.jpeg" alt="Rohith" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Design Core</h6>
          <h6 class="card-title name1">Rohith Satya Nivas</h6>
          <a href="mailto:rohithsatyanivas@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 7075539895"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Shreeniwas.jpeg" alt="Shreenivas" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Events Core</h6>
          <h6 class="card-title name1">Shreeniwas Jagdale</h6>
          <a href='mailto:shrinu6174@gmail.com'><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href='tel:9422022520'><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Aditya.jpg" alt="Aditya" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Events Core</h6>
          <h6 class="card-title name1">Aditya Singh Mahala</h6>
          <a href="mailto: Adityasingh2841999@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 9840870610"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Adhish.jpg" alt="Adhish" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Finance & Admin Core</h6>
          <h6 class="card-title name1">Adhish Krishna S</h6>
          <a href="mailto: adhishkrishna08@gmail.com "><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 7373007233"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Navnitan.jpeg" alt="Navnitan" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Finance & Admin Core</h6>
          <h6 class="card-title name1">Navnitan SV</h6>
          <a href='mailto: snavnitan@gmail.com'><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href='tel:9444922663'><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/vikash.jpeg" alt="Vikash" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">FR & Hospitality Core</h6>
          <h6 class="card-title name1">Vikash Upadhyay</h6>
          <a href='mailto: vikashupadhyay963@gmail.com'><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href='tel:9840909924'><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Yashwant.JPG" alt="Yashwant" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">FR & Hospitality</h6>
          <h6 class="card-title name1">Yashwant Saini</h6>
          <a href='mailto: syashwant379@gmail.com'><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href='tel:8708347213'><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Jaychandra.jpeg" alt="Jaychandra" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Media Core</h6>
          <h6 class="card-title name1">Jaychandra Bhukya</h6>
          <a href="mailto: b.jaychandra2000@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 7036857217"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Surya.jpg" alt="Surya" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Spons & PR Core</h6>
          <h6 class="card-title name1">N. Surya</h6>
          <a href="mailto: surya7113@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 9626645313"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/Yeshwanth.jpg" alt="Yeshwanth" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">Spons & PR Core</h6>
          <h6 class="card-title name1">Yeshwanth Talwar</h6>
          <a href="mailto: yeshwanthtalwar@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 9449455437"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
      <div class="card align-center">
        <img class="card-img-top" src="images/SOC-teams/prashant.jpg" alt="Prashant" height=200px>
        <div class="card-body">
          <h6 class="card-title name1">WebOps Core</h6>
          <h6 class="card-title name1">Prashant Pandey</h6>
          <a href="mailto:prashantppmsd2405@gmail.com"><button type="button" class="button btn"><i class="icon1 fas fa-envelope"></i></button></a>
          <a href="tel: 8369840935"><button type="button" class="button1 btn"><i class="icon1 fas fa-phone"></i></button></a>
        </div>
      </div>
    </div>
  </div>

  <%- include ("../../partials/footer") %> <%- include
  ("../../partials/scrollTop") %>
</body>
