<%- include ("../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">WALL OF FAME</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Aquatics/Anuj.png" data-holder-rendered="true">
          <p class="wof-name"><b>Anuj</b><br />Aquatics</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Aquatics/Kalash.png" data-holder-rendered="true">
          <p class="wof-name"><b>Kalash Verma</b><br />Aquatics</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Athletics/Amit.png" data-holder-rendered="true">
          <p class="wof-name"><b>Amit Kumar</b><br />Athletics</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Athletics/Muthu.png" data-holder-rendered="true">
          <p class="wof-name"><b>Muthu</b><br />Athletics</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Athletics/Sajusha.png" data-holder-rendered="true">
          <p class="wof-name"><b>Sajusha Ashok</b><br />Athletics</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Athletics/Varsha.png" data-holder-rendered="true">
          <p class="wof-name"><b>Varsha</b><br />Athletics</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Badi/Deepika.png" data-holder-rendered="true">
          <p class="wof-name"><b>Deepika Indluri</b><br />Badminton</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Badi/Siddartha.png" data-holder-rendered="true">
          <p class="wof-name"><b>Siddartha</b><br />Badiminton</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Basky/Kowshika.png" data-holder-rendered="true">
          <p class="wof-name"><b>Kowshika</b><br />Basketball</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Basky/Sharon.png" data-holder-rendered="true">
          <p class="wof-name"><b>Sharon</b><br />Basketball</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Basky/Shivam.png" data-holder-rendered="true">
          <p class="wof-name"><b>Shivam Dhaiya</b><br />Basketball</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Football/Joel.png" data-holder-rendered="true">
          <p class="wof-name"><b>Joel Sunil</b><br />Football</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Football/John.png" data-holder-rendered="true">
          <p class="wof-name"><b>John Sabu Mathew</b><br />Football</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Squash/Navodita.png" data-holder-rendered="true">
          <p class="wof-name"><b>Navodita</b><br />Squash</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Squash/Varun.png" data-holder-rendered="true">
          <p class="wof-name"><b>Varun</b><br />Squash</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Tennis/Breasha.png" data-holder-rendered="true">
          <p class="wof-name"><b>Breasha Gupta</b><br />Tennis</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Tennis/Nitya.png" data-holder-rendered="true">
          <p class="wof-name"><b>Nitya Nanvani</b><br />Tennis</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/TT/Venkatesh.png" data-holder-rendered="true">
          <p class="wof-name"><b>Venkatesh Pakkiriswamy</b><br />Table Tennis</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Volley/Bhavya.png" data-holder-rendered="true">
          <p class="wof-name"><b>Bhavya</b><br />Volleyball</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Volley/Mohit.png" data-holder-rendered="true">
          <p class="wof-name"><b>Mohit Kushwah</b><br />Volleyball</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Volley/Pranay.png" data-holder-rendered="true">
          <p class="wof-name"><b>Pranay Chowdhary</b><br />Volleyball</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Volley/Snigdha.png" data-holder-rendered="true">
          <p class="wof-name"><b>Snigdha</b><br />Volleyball</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Waterpolo/Jai.png" data-holder-rendered="true">
          <p class="wof-name"><b>Jai</b><br />Waterpolo</p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/wallOfFame/Weightlifting/Bipul.png" data-holder-rendered="true">
          <p class="wof-name"><b>Bipul Makhal</b><br />Weightlifting</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img height='200px'alt="10x10" src="images/wallOfFame/Weightlifting/Pavan.png" data-holder-rendered="true">
          <p class="wof-name"><b>Pavan Kumar</b><br />Weightlifting</p>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../partials/footer") %>
  <%- include ("../../partials/scrollTop") %>
</body>
