<%- include ("../../partials/header") %>

<body class='bg-dark'>
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Institute Sports Facilities</h1>
  </div>
  <div class="row text-center wof-row">
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/basky.jpeg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/watsa.jpeg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/swim.jpeg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
  </div>

  <div class="row text-center wof-row">
    <div class="col-md-6">
      <img height='220px' alt="10x10" src="/iitmsports/images/sports/grounds/weight.jpeg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-6">
      <img height='220px' alt="10x10" src="/iitmsports/images/sports/grounds/tennis.jpg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
  </div>

  <div class="row text-center wof-row">
    <div class="col-md-4">
      <img height='200px' width="370px" alt="10x10" src="/iitmsports/images/sports/grounds/foot.jpg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/tt.JPG" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/hockey.jpg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
  </div>

  <div class="row text-center wof-row">
    <div class="col-md-6">
      <img height='220px' alt="10x10" src="/iitmsports/images/sports/grounds/complex.jpeg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-6">
      <img height='220px' alt="10x10" src="/iitmsports/images/sports/grounds/volley.jpg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
  </div>

  <div class="row text-center wof-row">
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/badi.JPG" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/cric.jpg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
    <div class="col-md-4">
      <img height='200px' alt="10x10" src="/iitmsports/images/sports/grounds/squash.jpeg" data-holder-rendered="true" style="border-radius:20%; margin:3% 3% 10%">
    </div>
  </div>

  <%- include ("../../partials/footer") %>
  <%- include ("../../partials/scrollTop") %>
</body>
