<%- include ("../../partials/header") %>

<body class="bg-dark text-light">
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-sm-3 ">
          <a href="/iitmsports/aquatics" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/swim.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Aquatics</b></p>
          </a>
        </div>
        <div class="col-sm-3 ">
          <a href="/iitmsports/athletics" class="sport-icon" style="text-decoration:none">
            <img height="150px" src="/iitmsports/images/sports/interiit/athletics.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Athletics</b></p>
          </a>
        </div>
        <div class="col-sm-3 ">
          <a href="/iitmsports/badminton" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/badm.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Badminton</b></p>
          </a>
        </div>
        <div class="col-sm-3 ">
          <a href="/iitmsports/basketball" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/bask.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Basketball</b></p>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-sm-3 ">
          <a href="/iitmsports/chess" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/chess.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Chess</b></p>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/iitmsports/cricket" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/cri.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Cricket</b></p>
          </a>
        </div>
        <div class="col-sm-3 ">
          <a href="/iitmsports/football" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/foot.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Football</b></p>
          </a>
        </div>
        <div class="col-sm-3 ">
          <a href="/iitmsports/hockey" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/hock.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Hockey</b></p>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-sm-3 ">
          <a href="/iitmsports/squash" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/squa.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Squash</b></p>
          </a>
        </div>
        <div class="col-sm-3 ">
          <a href="/iitmsports/tabletennis" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/tt.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Table Tennis</b></p>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/iitmsports/tennis"  class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/tenn.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Tennis</b></p>
          </a>
        </div>
        <div class="col-sm-3 ">
          <a href="/iitmsports/volleyball" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/volley.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Volleyball</b></p>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-sm-6">
          <a href="/iitmsports/waterpolo" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/water.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Waterpolo</b></p>
          </a>
        </div>
        <div class="col-sm-6">
          <a href="/iitmsports/weightlifting" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/interiit/weight.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Weightlifting</b></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../partials/footer") %> <%- include
  ("../../partials/scrollTop") %>
</body>
