<%- include ("../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-sm-4">
          <a href="/iitmsports/bridge" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/non-interiit/bri.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Bridge</b></p>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="/iitmsports/cycling" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/non-interiit/cyc.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Cycling</b></p>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="/iitmsports/fitness" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/non-interiit/fit.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Fitness</b></p>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-sm-4">
          <a href="/iitmsports/forestgumps" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/non-interiit/for.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Forest Gumps</b></p>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="/iitmsports/frisbee" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/non-interiit/fri.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Frisbee</b></p>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="/iitmsports/triathlon" class="sport-icon" style="text-decoration:none">
            <img height='150px' src="/iitmsports/images/sports/non-interiit/tri.png" alt="Athletics-img"srcset=""/>
            <p class="sport-name"><b>Triathlon</b></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../partials/footer") %>
  <%- include ("../../partials/scrollTop") %>
</body>
