<%- include ("../partials/header") %>

<body class="bg-dark">
  <%- include ("../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Results</h1>
  </div>
  <div class="res-body">
  <div class="grid">
    <!-- Inter IIT -->
    <div class="grid-item">
      <div class="cards">
        <div class="cards-content">
          <h1 class="cards-header">Inter IIT</h1>
          <p class="cards-text">
            <a class="contact" href="https://drive.google.com/file/d/1_nVTZqpGLq2jtvF1M4-E8ch6UkkyF4jT/view?usp=sharing">
              2019 (54<sup>th</sup> Inter IIT)
            </a><br />
            <a class="contact" href="https://drive.google.com/file/d/0B-2o4VYct7HcX0NCMDVURXZTRVIwM2xma2NsUGprSXExTU80/view?usp=sharing">
              2018 (53<sup>th</sup> Inter IIT)
            </a><br />
            <a class="contact" href="https://drive.google.com/file/d/0B-2o4VYct7HcdnlWWi0xRWtoZFpwQld0Ym9JUzNjRzNnV3dB/view?usp=sharing">
              Aquatics Meet 2018
            </a><br />
            <a class="contact" href="https://drive.google.com/drive/folders/1s7CFtOKZ5iBv24fffPwo7mXmHLDdLSoO?usp=sharing">
              2017 (52<sup>th</sup> Inter IIT)
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Schroeter -->
    <div class="grid-item">
      <div class="cards">
        <div class="cards-content">
          <h1 class="cards-header">Schroeter</h1>
          <p class="cards-text">
            <a class="contact" href="https://docs.google.com/spreadsheets/d/14EmLuXJxQImmb1deVYiYOzKmjbmygP4HQiZ0HxN-DVc/edit?usp=sharing">
              Men's 2019-20
            </a>
            <a class="contact" href="https://docs.google.com/spreadsheets/d/1b3MaculIZCxeZA-iwNXYINfvUJMUXQhg0w6MzXQiWsE/edit?usp=sharing">
              Women's 2018-19
            </a>
            <a class="contact" href="https://docs.google.com/spreadsheets/d/14LpzwVQJv_8hi5H8Z3deY2SYUuEwY1tr7Y6TFDliY94/edit?usp=sharing">
              Freshie 2018-19
            </a>
            <a class="contact" href="https://docs.google.com/spreadsheets/d/1HER0QNCC6X09TqCVRFzA1jQzw1wVjTKN6YzNjle8qgA/edit?usp=sharing">
              Best Player 2018-19
            </a>
            <a class="contact" href="https://docs.google.com/spreadsheets/d/1TkxT_u8SrkWuYP0CVqODmf6yatDtlLYru_Mxqv9HXFM/edit?usp=sharing">
              Men's 2016-17
            </a>
            <a class="contact" href="https://docs.google.com/spreadsheets/d/1oFiMxrKJo3RtfdGO_tEpaVtzPv3kILepVUeRTffMU7g/edit?usp=sharing">
              Women's 2016-17
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Sports Council -->
    <div class="grid-item">
      <div class="cards">
        <div class="cards-content">
          <h1 class="cards-header">Sports Council</h1>
          <p class="cards-text">
            <a class="contact" href="https://docs.google.com/spreadsheets/d/1XNZ41rbymie_gzAOfUSyXTYMKr32flCeB-S0PyqolTU/edit?usp=sharing">
              2019-2020
            </a><br />
            <a class="contact" href="https://docs.google.com/spreadsheets/d/1sFjV__8LOuRFm7yPTjMby8R6sdv6VEAtVhI72CG5mdg/edit?usp=sharing">
              2018-2019
            </a><br />
            <a class="contact" href="https://docs.google.com/spreadsheets/d/1xP-wf2dafRIF7fd5mj0duAPM-aFtvV-a7iYf96IaRNg/edit?usp=sharing">
              2016-2017
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <%- include ("../partials/footer") %>
  <%- include ("../partials/scrollTop") %>
</body>
