<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Gazelle</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/iitmsports/images/sports/interiit/athletics/logo.png" height="200px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/athletics/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>B Swati</b></p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/athletics/captainM.png" data-holder-rendered="true">
          <p class="wof-name">Captain (M)<br /><b>Muthu Kumar</b></p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/athletics/captainF.png" data-holder-rendered="true">
          <p class="wof-name">Captain (F)<br /><b>Sajusha Ashok Kumar</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        "Persistence can change failure into extraordinary achievement." This is the mantra of the athletes of IITM. Striving to
        improve themselves everyday, these warriors pour their blood, sweat and tears everyday to attain perfection. With a world
        class athletics stadium and experienced coaches, IIT madras offers the best facilities to any student who wishes to test the
        limits of his endurance.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto 2%">Recent Achivements</h1>
      <h2 class="text-center" style="margin: 1% auto -2%">Male</h2>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Agrata 2019</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Inter IIT 2019<br />Pole vault</td>
            <td>Gold<br />(New Record)</td>
          </tr>
          <tr>
            <td>Inter IIT 2018<br />Pole vault</td>
            <td>Gold<br />(New Record)</td>
          </tr>
        </tbody>
      </table>
      </div>
      <h2 class="text-center" style="margin: 1% auto -2%">Female</h2>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Inter IIT 2019</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Agrata 2019</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Inter IIT 2017</td>
            <td>Bronze</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/iitmsports/images/sports/interiit/athletics/pic1.jpg 5000w" sizes="(max-width: 600px) 400px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://docs.google.com/document/d/1MquJzK4strLPB9elboj5ciwbEf4U6Yf-IHlhWZx0Uow/edit?usp=drivesdk" style="text-decoration:none"><img height="27px" src="/iitmsports/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/IITMathletics/" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Gazelle</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://instagram.com/iitmgazelles?igshid=t7bmwyy0ubgh" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrasGazelle</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
