<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Stags</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/iitmsports/images/sports/interiit/basketball/logo.png" height="200px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/basketball/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Shashank</b></p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/basketball/captainM.png" data-holder-rendered="true">
          <p class="wof-name">Captain (M)<br /><b>Surya</b></p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/basketball/captainF.png" data-holder-rendered="true">
          <p class="wof-name">Captain (F)<br /><b>Gaythri</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Ever wanted to learn how to make the perfect dunk? Or how to score a stunning three-pointer? Join the IIT Madras basketball
        club to do just that and so much more. Burn those calories, build endurance and above all become a part of one of the decorated
        teams of IITM. It is one of the most played sports in the institute and has world class facilities and courts. We have two
        enthusiastic coaches who strive to make sure the teams give their best every time they step onto the court.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto 2%">Recent Achivements</h1>
      <h2 class="text-center" style="margin: 1% auto -2%">Male</h2>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Inter IIT 2019</td>
            <td>Q-Finals</td>
          </tr>
          <tr>
            <td>Agrata 2019</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Agrata 2018</td>
            <td>Gold</td>
          </tr>
        </tbody>
      </table>
      </div>
      <h2 class="text-center" style="margin: 1% auto -2%">Female</h2>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Agrata 2019</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Inter IIT 2018</td>
            <td>4<sup>th</sup></td>
          </tr>
          <tr>
            <td>Inter IIT 2016</td>
            <td>Gold</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/iitmsports/images/sports/interiit/basketball/pic1.jpg 3000w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-6">
            <a class="club-link" href="https://drive.google.com/file/d/16GPUu-ueZFTscdkSWrDYw8IZxD8wufwD/view?usp=sharing" style="text-decoration:none"><img height="27px" src="/iitmsports/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-6">
            <a class="club-link" href="https://www.instagram.com/iitmbasketball/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrasStags</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
