<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Sharks</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/images/sports/interiit/chess/logo.png" height="200px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="/images/sports/interiit/chess/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Narendhiran</b></p>
        </div>
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="/images/sports/interiit/chess/captain.png" data-holder-rendered="true">
          <p class="wof-name">Captain<br /><b>Navnitan SV</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Winning isn't everything, but wanting to win is. Keeping this hunger and will to win, IIT Madras Chess Team introduces
        you to game that tests your personality, resilience and rigour. With a bunch of passionate players,working constantly on
        improving themselves with every game they play, the team is geared up for the upcoming season. With the aim to learn from
        their mistakes and improve with each game, the IIT Madras Chess Team aspires to establish a legacy for years to come.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto -2%">Recent Achivements</h1>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Agrata 2019</td>
            <td>Sliver</td>
          </tr>
          <tr>
            <td>Inter IIT 2017</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Inter IIT 2016</td>
            <td>Bronze</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/images/sports/interiit/chess/pic1.jpeg 1200w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://docs.google.com/presentation/d/1yOdKAPHg5NSyDCQ8FU3IEvEt3WYu8CHu61ZnvVEtjoY/edit?usp=sharing" style="text-decoration:none"><img height="27px" src="/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/IIT-Madras-Chess-Club-880661415336001" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Sharks</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.instagram.com/iitm__chess_club/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrassharks</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
