<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Wolves</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/images/sports/interiit/football/logo.png" height="220px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="images/sports/interiit/football/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Juraij</b></p>
        </div>
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="images/sports/interiit/football/captain.png" data-holder-rendered="true">
          <p class="wof-name">Captain<br /><b>Midhun K S</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        It's called the beautiful game and for a reason. It's the most watched sport in the world and the quality and love for this game
        is rapidly increasing in our country. Having one of the largest clubs in the Institute with students of all ages and departments,
        the football culture in the Institute is quite rich. The Institute team is the known as ‘The Madras Wolves’ and that name isn’t for
        no reason! This team shares a bond like no other, both on and off the field. On the field, they are really 'wolves' hunting down the
        ball like a united pack and off the field, they're discussing their tactics even in the mess. Join the team and learn how to score
        spectacular goals and make stunning saves.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto -2%">Recent Achivements</h1>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Agrata 2019</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Inter IIT 2018</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Inter IIT 2017</td>
            <td>Gold</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/images/sports/interiit/football/pic1.jpg 2200w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://docs.google.com/document/d/18wrqTBDORijzMEq53lkSYZuYyoKLyb9dOCiC2L0_dW8/edit?usp=drivesdk" style="text-decoration:none"><img height="27px" src="/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/107780980569859/" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Wolves</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://instagram.com/iitmadraswolves?igshid=cvh27ol05wkp" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madraswolves</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
