<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Garibos</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/iitmsports/images/sports/interiit/hockey/logo.png" height="210px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/hockey/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Abhishek Kumar Raj</b></p>
        </div>
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/hockey/captain.png" data-holder-rendered="true">
          <p class="wof-name">Captain<br /><b>Anudeep A</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Hockey is arguably a difficult sport which requires a player to be extremely dexterous and responsive. But the
        ‘Garibos’ of our institute, proudly acknowledge that they ‘do it all for sixty minutes in eleven different positions’.
        IIT madras has had the legacy of having the best hockey teams amongst all IITs ever since the game was made an inter
        IIT sport in the early 90s. Their Total dominance over the other IITs was evident as they won the Inter IIT gold for
        a whopping 4 year consecutive years from 2010-2013 without losing a single match in the process.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto -2%">Recent Achivements</h1>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Inter IIT 2019</td>
            <td>4th</td>
          </tr>
          <tr>
            <td>Inter IIT 2018</td>
            <td>4th</td>
          </tr>
          <tr>
            <td>Inter IIT 2017</td>
            <td>Silver</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/iitmsports/images/sports/interiit/hockey/pic1.jpeg 1500w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://drive.google.com/file/d/1skZZDoKzfRvUB-fXRNw8u7MvgyOnKf4G/view?usp=sharing" style="text-decoration:none"><img height="27px" src="/iitmsports/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/IITMHOCKEY" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Garibos</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.instagram.com/iitmhockeygaribos/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrasGaribos</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
