<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Hawks</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/iitmsports/images/sports/interiit/squash/logo.png" height="120px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/squash/captainM.png" data-holder-rendered="true">
          <p class="wof-name">Captain (M)<br /><b>Akhil Vannan</b></p>
        </div>
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/squash/captainF.png" data-holder-rendered="true">
          <p class="wof-name">Captain (F)<br /><b>Sahiti</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Considered the most difficult racquet sport, playing a game will leave you panting, dripping with sweat, doubled over,
        but still wanting more. The institute boasts of two state of the art squash courts with a dedicated coach and an ever
        growing squash community. The IIT Madras Hawks have won several laurels, not only at Inter IIT but also at various
        college sport fests. The grit, determination, and energy of a squash player is matched by a very few others. The sport
        is exciting, exhausting and exhilarating all at the same time. You could be an enthusiast, professional or a beginner,
        insti has something for everyone.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto 2%">Recent Achivements</h1>
      <h2 class="text-center" style="margin: 1% auto -2%">Male</h2>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Inter IIT 2019</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Inter IIT 2018</td>
            <td>Bronze</td>
          </tr>
          <!-- <tr>
            <td>Inter IIT 2017</td>
            <td>Gold</td>
          </tr> -->
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/iitmsports/images/sports/interiit/squash/pic1.jpg 5000w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-6">
            <a class="club-link" href="https://www.facebook.com/squashatiitm/" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Hawks</p>
            </a>
          </div>
          <div class="col-md-6">
            <a class="club-link" href="https://instagram.com/iitmsquash?igshid=a8dazcqzmyzv" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrashawks</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
