<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Eagles</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/images/sports/interiit/volleyball/logo.png" height="300px" data-holder-rendered="true" style="margin:-5% auto" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/sports/interiit/volleyball/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Rutvik Baxi</b></p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/sports/interiit/volleyball/captainM.png" data-holder-rendered="true">
          <p class="wof-name">Captain (M)<br /><b>Sanket</b></p>
        </div>
        <div class="col-md-4 ">
          <img height='200px'alt="10x10" src="images/sports/interiit/volleyball/captainF.png" data-holder-rendered="true">
          <p class="wof-name">Captain (F)<br /><b>Pranjali</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        With 2 Volleyball courts at your service, enthusiasm is all you need to pick up a ball and have a go at it.
        This sport draws in huge crowds for Schroeter as well showing its popularity among students. For the more
        advanced players, IIT Madras participates in various tournaments in and around Chennai, not to mention hosting
        some national tournaments ourselves too. The spirited Volleyball team is always eager to prove themselves at the Inter IITs as well.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto 2%">Recent Achivements</h1>
      <h2 class="text-center" style="margin: 1% auto -2%">Male</h2>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>VIT Fest 2020</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>MAM 2020</td>
            <td>Silver</td>
          </tr>
          <tr>
            <td>Agrata 2019</td>
            <td>Bronze</td>
          </tr>
        </tbody>
      </table>
      </div>
      <h2 class="text-center" style="margin: 1% auto -2%">Female</h2>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Inter IIT 2019</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Agrata 2019</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Inter IIT 2018</td>
            <td>Silver</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/images/sports/interiit/volleyball/pic1.jpg 3200w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/SportsIITM/" style="text-decoration:none"><img height="27px" src="/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/SportsIITM/" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Eagles</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.instagram.com/iitmsports/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madraseagles</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
