<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Sharks</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/iitmsports/images/sports/interiit/aquatics/logo.png" height="200px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12 ">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/interiit/waterpolo/captain.png" data-holder-rendered="true">
          <p class="wof-name">Captain<br /><b>Jai Kedia</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Water polo is an exciting and fast-paced physical game that blends the best of soccer, basketball, and rugby and tosses
        it into a swimming pool. Water polo is quite a popular sport in IIT Madras, especially after the campus students witnessed
        2 aquatic meets in 3 years!! Famously named ‘The Sharks’ by their opponents after an era of dominance in Water, the team
        members are no less than super-humans who have 6 hours of practice, 6 days a week, along with their courses. Owing to the
        great infrastructure facilities in the form of an Olympic sized pool, water Polo balls, and goal posts, IIT Madras provides
        a perfect platform for those who want to explore, learn and play water polo.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto -2%">Recent Achivements</h1>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 200px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Inter IIT 2019</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Inter IIT 2018</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Inter IIT 2017</td>
            <td>Bronze</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/iitmsports/images/sports/interiit/waterpolo/pic1.jpg 3200w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://docs.google.com/document/d/1mymhDNb9xLILTWvZvDEYrNx_Wr6Slkz3fPpojBKZ7z0/edit?usp=drivesdk" style="text-decoration:none"><img height="27px" src="/iitmsports/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/madrassharks/" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Sharks</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.instagram.com/madrassharks/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrassharks</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
