<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Hulks</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12" style= "margin-bottom: -5%">
          <img src="/images/sports/interiit/weightlifting/logo.png" height="200px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center wof-row" style= "margin-bottom: -5%">
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="images/sports/interiit/weightlifting/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Prashant Pandey</b></p>
        </div>
        <div class="col-md-6 ">
          <img height='200px'alt="10x10" src="images/sports/interiit/weightlifting/captain.png" data-holder-rendered="true">
          <p class="wof-name">Captain<br /><b>Gulam A R</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Dedication discipline are the two most important things that is required in this test of human ballistic limits.
        Think you can master the snatch and the clean and jerk? The institute Gymkhana offers you all the facilities you
        need. This technical game, in which the athlete attempts a maximum weight single lift of a barbell loaded with
        weight plates, is more than just a game of power. Weightlifting could be just the right challenge that gives you
        the strength and fitness you have always wanted. If not, you could always just throw some weight around.<br/><br/>
      </p>
      <h1 class="text-center" style="margin: 1% auto -2%">Recent Achivements</h1>
      <div class="row text-center wof-row">
      <table border="1" cellspacing='5'style="margin: auto">
        <thead bgcolor='black'>
          <th style="width: 250px">Competition</th>
          <th style="width: 200px">Position</th>
        </thead>
        <tbody>
          <tr>
            <td>Inter IIT 2019 (77+ kg)</td>
            <td>Bronze</td>
          </tr>
          <tr>
            <td>Agrata 2019</td>
            <td>Gold</td>
          </tr>
          <tr>
            <td>Agrata 2018</td>
            <td>Silver</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/images/sports/interiit/weightlifting/pic1.jpg 800w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://sites.google.com/smail.iitm.ac.in/iitmweightlifting/learners-guide?authuser=0" style="text-decoration:none"><img height="27px" src="/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/SportsIITM/" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Hulks</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.instagram.com/madras_hulks/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madras_hulks</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
