<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Peloton</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/iitmsports/images/sports/non-interiit/cycling/logo.png" height="400px" data-holder-rendered="true" style="margin:-13% auto -4%" />
        </div>
      </div>
    </div>
    <div class="container" style="margin: -10% auto 2%">
      <div class="row text-center wof-row">
        <div class="col-md-6">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/non-interiit/cycling/convener1.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Gaurav Jhawar</b></p>
        </div>
        <div class="col-md-6">
          <img height='200px'alt="10x10" src="/iitmsports/images/sports/non-interiit/cycling/convener2.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Ashish Shroti</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Welcome to the official cycling club of IIT Madras, established in 2018. We are a pack of enthu riders who aim to preserve
        the insti Cycling Culture of IIT Madras and with an objective to make a loop of quality cyclists who are keenly interested
        in Cycling and Cycling Club Events. Head on to our social media handles to know more about us<br/><br/>
      </p>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/iitmsports/images/sports/non-interiit/cycling/pic1.jpg 2500w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://www.strava.com/clubs/cycling-club-iit-madras-550789" style="text-decoration:none"><img height="27px" src="/iitmsports/images/note.png"></img>
              <p class="club-icon-desc">Strava</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/100415854649257/posts/107566070600902/?app=fbl" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Peloton</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.instagram.com/cyclingclub_iitm/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madraspeloton</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
