<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Saints</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/images/sports/non-interiit/frisbee/logo.png" height="200px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container" style="margin:2% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12 ">
          <img height='200px'alt="10x10" src="images/sports/non-interiit/frisbee/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>Uma T V</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Saints, the Frisbee Club of insti was founded in 2017, initiated by a German Exchange student Pascal Ritcher. Currently with
        100+ active members, it is the Fastest growing club in insti. We play Ultimate Frisbee in the Manohar C Watsa Stadium lawn.
        Our Club team is coached by Ms. Sangeeta, an Indian player herself who has represented the country in several international
        tournaments!!! Some of our Activities include NSO Frisbee, Club Sessions, weekly Recreational League, Women’s Sessions, UG vs
        PG Tournament, Inter Departmental League, IITM, Dean’s Trophy, IITM, Agrata. IITM, Friendly matches with other club teams,
        National College Ultimate Championship and National Championship Series..<br/><br/>
      </p>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/images/sports/non-interiit/frisbee/pic1.jpg 6200w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-4">
            <a class="club-link" href="https://drive.google.com/drive/folders/1AiGvzfoAfwxyQxVxwGG7kZ_tjK9zKBkt?usp=sharing" style="text-decoration:none"><img height="27px" src="/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.facebook.com/saints.iitm.9" style="text-decoration:none"><i class="club-icon fab fa-facebook-f"></i>
              <p class="club-icon-desc">Madras Saints</p>
            </a>
          </div>
          <div class="col-md-4">
            <a class="club-link" href="https://www.instagram.com/saints.iitm_ufc/" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrassaints</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
