<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1 class="text-center pos-title">Madras Sharks</h1>
    <div class="container">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img src="/images/sports/non-interiit/triathlon/logo.png" height="200px" data-holder-rendered="true" />
        </div>
      </div>
    </div>
    <div class="container" style="margin: 2% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12 ">
          <img height='200px'alt="10x10" src="images/sports/non-interiit/triathlon/convener.png" data-holder-rendered="true">
          <p class="wof-name">Convener<br /><b>B. Sreeram</b></p>
        </div>
      </div>
    </div>
    <div class="iitm-body">
      <p>
        Quitters don't tri and triathletes don't quit. Are you a quitter, or are you up for that extra mile
        (or lap, you'll have to do both anyway)? Do you look forward to testing your endurance through multiple
        sports? Follow us to keep yourself updated about the triathlon scene in Insti, and for drills to improve
        your own performance.<br/><br/>
      </p>
    </div>
    <div class="container" style="margin:5% auto">
      <div class="row text-center wof-row">
        <div class="col-md-12">
          <img srcset="/images/sports/non-interiit/triathlon/pic1.jpg 3200w" sizes="(max-width: 600px) 450px, 800px"
          data-holder-rendered="true" style="border-radius:5%"/>
        </div>
      </div>
      <div class="container" style="margin: 5% auto -5%">
        <div class="row text-center wof-row">
          <div class="col-md-6">
            <a class="club-link" href="https://www.facebook.com/SportsIITM/" style="text-decoration:none"><img height="27px" src="/images/note.png"></img>
              <p class="club-icon-desc">Learner's Guide</p>
            </a>
          </div>
          <div class="col-md-6">
            <a class="club-link" href="https://instagram.com/triathlon_iitm?igshid=o7npa72xrwa" style="text-decoration:none"><i class="club-icon fab fa-instagram"></i>
              <p class="club-icon-desc">@madrassharks</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../../partials/footer") %>
  <%- include ("../../../partials/scrollTop") %>
</body>
